<nav class="navbar">
    <a href="/" class="navbar-logo"><i class="material-icons">BimaWallah</i></a>
    <ul class="navbar-links">
        <li class="navbar-dropdown">
            <a href="/">Home</a>
        </li>
        <li class="navbar-dropdown">
            <a href="#">users</a>
            <div class="dropdown">
                <a href="/allUsers">All Users</a>
                <a href="/unverifiedAgents">Unverified Users</a>
            </div>
        </li>
        <li class="navbar-dropdown">
            <a href="#">Policies</a>
            <div class="dropdown">
                <a href="/verifyPolicies">Verify Policies</a>
                <a href="/policyTypes">Policy Types</a>
                <a href="/policyProviders">Policy Providers</a>

            </div>
        </li>
        <li class="navbar-dropdown">
            <a href="#">Vehicle Records</a>
        </li>
        <li class="navbar-dropdown">
            <a href="#">Product Manuals</a>
        </li>
        <li class="navbar-dropdown">
            <a href="#">Logout</a>
        </li>

    </ul>
</nav>