body {
    margin: 0;
    padding: 0;
}

.mainContainer {
    margin-top: 50px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    gap: 50px;
    width: 100%;
}

.item {
    display: flex;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    background-color: #fff;
    width: 50%;

}


.details {
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 20px;
}


.show {
    background-color: initial;
    background-image: linear-gradient(-180deg, #4e89f7, #186ceb);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Inter, -apple-system, system-ui, Roboto, "Helvetica Neue", Arial, sans-serif;
    height: 40px;
    line-height: 40px;
    outline: 0;
    overflow: hidden;
    pointer-events: auto;
    text-align: center;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: top;
    white-space: nowrap;
    width: 100%;
    z-index: 9;
    border: 0;
    transition: box-shadow .2s;
}

.edit {
    background-color: initial;
    background-image: linear-gradient(-180deg, #f0753c, #eb5418);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Inter, -apple-system, system-ui, Roboto, "Helvetica Neue", Arial, sans-serif;
    height: 40px;
    line-height: 40px;
    outline: 0;
    overflow: hidden;
    pointer-events: auto;
    text-align: center;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: top;
    white-space: nowrap;
    width: 100%;
    z-index: 9;
    border: 0;
    transition: box-shadow .2s;
}

.edit:hover {
    box-shadow: rgba(253, 76, 0, 0.5) 0 3px 8px;
}

.show:hover {
    box-shadow: rgba(138, 216, 252, 0.5) 0 3px 8px;
}

.heading {

    margin-top: 90px;
    margin-bottom: 40px;
    text-align: center;

    text-transform: uppercase;
    font-size: 26px;
    letter-spacing: 1px;

    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 16px 0;
    grid-gap: 22px;

}

.heading:after,
.heading:before {
    content: " ";
    display: block;
    border-bottom: 2px solid #ccc;

}

a {
    text-decoration: none;
}

.row {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}